[default]
redis_host=123.57.95.42
redis_port=6379
redis_password=keientist_redis
mongo_host=123.57.95.42
mongo_port=27017
mongo_user=keientist_admin
mongo_pwd=keientist_pwd
port=18000
debug=1
allow_plural_login=0
login_ttl=86400
login_ttl_day=1
report_path =/var/data

oss_AccessKeyId=''
oss_AccessKeySecret=''
oss_Address='http://oss-cn-beijing.aliyuncs.com'
oss_Address_Download='https://keientist.oss-cn-beijing.aliyuncs.com'
oss_Bucket='keientist'
oss_Prefix_antifan='/'