        <div class="docker" id="sign_up">
            <div class="page-header">
                <h1>处理申请</h1>
            </div>
            <div class="content row col-md-8">
                <div class="col-md-4">
                    <button class="btn btn-default" id="sign-search-btn">搜索</button>
                    <button class="btn btn-default" id="sign-reject-btn" disabled="disabled">全部拒绝</button>
                </div>
            </div>
            <div class="content row col-md-8 next">
                <label for="inputfile">搜索结果</label>
                <table class="table table-responsive table-hover sign">
                    <thead>
                        <tr>
                            <th>申请人</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="sign-tbody">
                    </tbody>
                </table>
                <ul class="pager">
                    <li class="previous disabled" id="previous-sign">
                        <a href="#" id="previous-sign-a">
                            &larr; 上一页
                        </a>
                    </li>
                    <li class="next disabled" id="next-sign">
                        <a href="#" id="next-sign-a">
                            下一页 &rarr;
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row col-md-8 place">
            </div>
        </div>